body {
    background-color: hsl(0, 0%, 98%);
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }

  .country-container{
    display: flex;
     gap: 1rem; 
     padding: 1rem; 
     flex-direction: row; 

  }

  .card{
    /* border: 1px solid #ccc; */
    border-radius: 2%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    text-align: center; 
    width: calc( (100% / 3) - .5rem );

    p{
        color: black;
    }
  }

  .flag{
    object-fit: contain;
    width: 100%;
    height: fit-content;

  }